name = "sqrt"
description = "Iterative computation of square-root of an integer"
language.vhdl.standard = "2008"

[rtl]
sources = ["sqrt.vhdl"]
top = "sqrt"
clock_port = "clk"
parameters = { G_IN_WIDTH = 32 }
# parameters = { G_IN_WIDTH = 32, G_ITERATIVE = true, G_STR= "abcd", G_BITVECTOR="7'b0101001" }

[tb]
sources = ["tb_sqrt.py"]
cocotb = true
# top = "tb_sqrt"  # FIXME

[flows.vivado_synth]
fpga.part = "xc7a100tftg256-2L"
clock_period = 5.0

[flows.vivado_alt_synth]
fpga.part = "xc7a100tftg256-2L"
synth.strategy = "ExtraTimingCongestion"
impl.strategy = "ExtraTimingCongestion"
clock_period = 5.0