{% macro banner(msg, line_len = 80, line_char="=", top_line=true, bottom_line=true) %}
{% set msg_len = (msg|length) %}
{% set sp1 = (line_len - msg_len) // 2 %}
{% set sp2 = line_len - sp1 - msg_len %}
{% if top_line %}
puts "{{ line_char * line_len }}"
{% endif %}
puts "{{ line_char * sp1 }}{{msg}}{{line_char * sp2 }}"
{% if bottom_line %}
puts "{{ line_char * line_len }}"
{% endif %}
{% endmacro %}

{% macro preamble(step, step_index) %}
{% set msg = (" Starting %s (%d/%d) "|format(step, step_index + 1, total_steps)) %}
{{ banner(msg) }}
{% endmacro %}

{% macro epilogue(step) %}
{{ banner("( %s done )"|format(step), line_char="-", top_line=false, bottom_line=false) }}
{% endmacro %}

{% macro load_checkpoint(step, sdc_from=none) %}
{% set prev_step_id = get_prev_step_id(step) %}
{% if prev_step_id and should_load_checkpoint(step) %}
read_libraries
read_db {{settings.checkpoints_dir}}/{{prev_step_id}}.odb
{% if sdc_from %}
{% set sdc_step_id = get_step_id(sdc_from) %}
read_sdc {{settings.results_dir}}/{{sdc_step_id}}.sdc
{% endif %}
{% if platform.derate_tcl %}
source {{platform.derate_tcl}}
{% endif %}
{% if platform.setrc_tcl %}
source {{platform.setrc_tcl}}
{% endif %}
{% endif %}
{% endmacro %}

{% macro write_checkpoint(step, db=true, sdc=false, def=false, verilog=false) %}
{% set step_id = get_step_id(step) %}
{% if should_write_checkpoint(step) %}
{% if db %}
write_db {{settings.checkpoints_dir}}/{{step_id}}.odb
{% endif %}
{% if sdc %}
write_sdc {{settings.results_dir}}/{{step_id}}.sdc
{% endif %}
{% if def %}
write_def {{settings.results_dir}}/{{step_id}}.def
{% endif %}
{% if verilog %}
write_verilog {{settings.results_dir}}/{{step_id}}.v
{% endif %}
{% endif %}
{% endmacro %}

{% macro section(name) %}
{{ banner(" %s "|format(name), line_char="-", top_line=false, bottom_line=false) }}
{% endmacro %}
