[[design]]
name = 'blinky'
description = 'Running LEDs on the ULX3S board'

[design.rtl]
sources = ['blinky.v']
top = 'blinky'
clock_port = 'clk_25mhz'

[[design]]
name = 'blinky-vhdl'
description = 'LED chaser on ULX3S'
language.vhdl.standard = 2008

[design.rtl]
sources = [ #
    "ecp5pll.vhdl",
    'blinky.vhdl',
]
top = 'blinky'
clock_port = 'clk_25mhz'


[flows.openfpgaloader]
board = 'ULX3S_85F'
clock_period = 40   # 25 MHz
nextpnr.detailed_timing_report = false
nextpnr.timing_allow_fail = true

[flows.nextpnr]
board = 'ULX3S_85F'
clock_period = 40   # 25 MHz

[flows.yosys_fpga]
fpga.family = 'ecp5'
clock_period = 40    #

[flows.vivado_synth]
fpga.part = 'xc7a12tcsg325-1'
clock_period = 4.0
synth.strategy = 'Flow_PerfOptimized_high'
impl.strategy = 'Performance_Explore'
blacklisted_resources = ['bram', 'dsp']

[flows.vivado_custom_synth]
fpga.part = 'xc7a12tcsg325-1'
clock_period = 4.0
