cocotb          ~= 2.0.1 ; python_version < "3.14"
cocotb          @ git+https://github.com/cocotb/cocotb.git ; python_version >= "3.14"
cocotb-coverage ~= 2.0
setuptools      >= 84.0
pytest          >= 9.1
# cocolight>=0.0.3
cocolight       @ git+https://github.com/kammoh/cocolight.git